.navigation-container {
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--foreground);
}

.sorting-container {
    display: flex;
    flex-wrap: wrap;
}