:root {
    --background: white;
    --foreground: black;
    --font-color: black;
    --button-hover: #bab8b8;
    --button-color: white;
    --button-disabled: gray;
    --font-color: black;
    --array-bar-color: black;
}
html, body {
    margin: 0;
    padding: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
    height: 100%;
}

button {
    font: inherit;
    border: none;
    cursor: pointer;
    margin: 0em 1em;
    padding: .5em 1em;
    border-radius: 3px;
    color: var(--font-color);
    background-color: var(--button-color);
}

button:disabled {
    color: black;
    background-color: var(--button-disabled);
}

button:hover {
    color: black;
    background-color: var(--button-hover);
}

input {
    margin: 0;
}

@media only screen and (max-width: 900px) {
    button {
        padding: .3em .6em;
        margin: 0em .3em;
        font-size: .8em;
    }
}